{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8"/>

    <title>Сервіс Обліку Студентів - {% block meta_title %}{% endblock meta_title %}</title>

    <meta name="description" value="Система Обліку Студентів Навчального Закладу">

    <!-- Include Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/main.css' %}">

    {% block extra_css %}{% endblock extra_css %}

  </head>
  <body>
    <!-- Start Container -->
    <div class="container">

      <!-- Start Header -->
      <div class="row" id="header">

        <!-- Logo -->
        <div class="col-xs-8">
          <h1>{% block logo %}Сервіс Обліку Студентів{%  endblock logo%}</h1>
        </div>

        <!-- Groups Selector -->
        <div class="col-xs-4" id="group-selector">
          {% block groups_selector %}
          <strong>Група:</strong>
          <select>
            <option value="">Усі Студенти</option>
            <option value="">МтМ - 21, Подоба Віталій (№ 254)</option>
            <option value="">МтМ - 22, Корост Андрій (№ 2123)</option>
          </select>
          {% endblock groups_selector %}
        </div>
      </div>
      <!-- End Header -->

      <!-- Start SubHeader -->
      <div class="row" id="sub-header">
        <div class="col-xs-12">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" {% if request.path == '/' %}class="active"{% elif '/students' in request.path %}class="active"{% endif %}><a href="{% url 'home' %}">Студенти</a></li>
            <li role="presentation" {% if '/journal' in request.path %}class="active"{% endif %}><a href="{% url 'journal' %}">Відвідування</a></li>
            <li role="presentation" {% if '/groups' in request.path %}class="active"{% endif %}><a href="{% url 'groups' %}">Групи</a></li>
            <li role="presentation" {% if '/tests' in request.path %}class="active"{% endif %}><a href="{% url 'tests' %}">Іспити</a></li>
            <li role="presentation" {% if '/results' in request.path %}class="active"{% endif %}><a href="{% url 'results' %}">Результати</a></li>
            <li role="presentation" {% if '/contact_admin' in request.path %}class="active"{% endif %}><a href="{% url 'contact_admin' %}">Контакт</a></li>
          </ul>
        </div>
      </div>
      <!-- End SubHeader -->

      <!-- Start Content Columns -->
      <div class="row" id="content-columns">

        <div class="col-xs-12" id="content-column">
          <!-- Status Message -->
          {% if messages %}
           <ul class="messages">
              {% for message in messages %}
             <p {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
              {% endfor %}
           </ul>
          {% endif %}

          <h2>{% block title %}{% endblock title %}</h2>
          {% block content %}{% endblock content %}

        </div>
      </div>
      <!-- End Content Column -->

      <!-- Start Footer -->
      <div class="row" id="footer">
        <div class="col-xs-12">
          {% block footer %}
          &copy;2016 Сервіс Обліку Студентів
          {% endblock footer %}
        </div>
      </div>
      <!-- End Footer -->

    </div>
    <!-- End Container -->


    <!-- Javascripts Section -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    {% block extra_js %}{% endblock extra_js %}

  </body>
</html>

