{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Journal of Attending" %}{% endblock meta_title %}

{% block title %}{% trans "Journal of Attending" %}{% endblock title %}

{% block content %}

{% if not students %}
  <div class="alert alert-warning">
  {% url "students_add"  as students_add_url%}
  {% blocktrans %}There is not yet a single student in the database. Please
    <a href="{{ students_add_url }}" class="btn btn-info">add first</a>.{% endblocktrans %}
  </div>
{% else %}

  <div class="alert alert-warning">
    {% trans "Changes to the journal are saved automatically with each click in the cell of the table." %}
    <span id="ajax-progress-indicator">{% trans "Saving is in progress..." %}</span>
  </div>

  <p id="journal-nav" class="text-center">
    <a href="?month={{ prev_month }}" title="{% trans "Previous Month" %}">&larr;</a>
    <!-- TODO: translate month name -->
    <strong>{% trans month_verbose %} {{ year }}</strong>
    <a href="?month={{ next_month }}" title="{% trans "Next Month" %}">&rarr;</a>
  </p>
  <table class="table table-hover table-striped table-bordered" id="students-journal">
    <thead>
      <tr class="header">
        <th class="num">{% trans "#" %}</th>
        <th class="name">{% trans "Student" %}</th>
        {% for day in month_header %}
          <th class="day-header">
          {% trans day.verbose %}
          <br />
          {{ day.day }}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% csrf_token %}
      {% for student in students %}
        <tr>
          <td>
          {% if is_paginated %}
            {{ page_obj.start_index|add:forloop.counter|add:"-1" }}
          {% else %}
            {{ forloop.counter }}
          {% endif %}
          </td>
          <td>
            <a title="{% trans "Edit" %}" target="_blank" href="{% url "students_edit" student.id %}">
            {{ student.fullname }}
            </a>
          </td>
          {% for day in student.days %}
            <td class="day-box">
              <input type="checkbox" data-student-id="{{ student.id }}"
              data-date="{{ day.date }}" data-url="{{ student.update_url }}"
              value="1"{% if day.present %} checked="checked" {% endif %} />
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% with object_list=students %}
  {% include "students/pagination.html" %}
{% endwith %}

{% endblock content %}