{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Додати студента{% endblock meta_title %}

{% block title %}Додати студента{% endblock title %}

{% block status_message %}
    {% if errors %}
    <div class="alert alert-warning" role="alert">
        Будь-ласка, виправте наступні помилки
    </div>
    {% endif %}
{% endblock status_message %}

{% block content %}

<form action="." method="post" enctype="multipart/form-data"
        role="form" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group {% if errors.first_name %}has-error{% endif %}">
        <label for="first_name" class="col-sm-2 control-label">Ім'я*</label>
        <div class="col-sm-10">
            <input type="text" value="{{ request.POST.first_name }}"
               name="first_name" id="first_name"
               placeholder="Введіть ваше ім'я"
               class="form-control"
            />
            <span class="help-block">{{ errors.first_name }}</span>
        </div>
    </div>
    <div class="form-group {% if errors.last_name %}has-error{% endif %}">
        <label for="last_name" class="control-label col-sm-2">Прізвище*</label>
        <div class="col-sm-10">
            <input type="text" value="{{ request.POST.last_name }}"
                   name="last_name" id="last_name"
                   placeholder="Введіть ваше прізвище"
                   class="form-control"
            />
            <span class="help-block">{{ errors.last_name }}</span>
        </div>
    </div>
    <div class="form-group {% if errors.middle_name %}has-error{% endif %}">
        <label for="middle_name" class="control-label col-sm-2">По-батькові</label>
        <div class="col-sm-10">
            <input type="text" value="{{ request.POST.middle_name }}"
                   name="middle_name" id="middle_name"
                   placeholder="Введіть ваше по-батькові"
                   class="form-control"
            />
            <span class="help-block">{{ errors.middle_name }}</span>
        </div>
    </div>
    <div class="form-group {% if errors.birthday %}has-error{% endif %}">
        <label for="birthday" class="control-label col-sm-2">Дата народження*</label>
        <div class="col-sm-10">
            <input type="text" value="{{ request.POST.birthday }}"
                   name="birthday" id="birthday"
                   placeholder="Напр. 1984-12-30"
                   class="form-control"
            />
            <span class="help-block">{{ errors.birthday }}</span>
        </div>
    </div>
    <div class="form-group {% if errors.photo %}has-error{% endif %}">
        <label for="photo" class="control-label col-sm-2">Фото</label>
        <div class="col-sm-10">
            <input type="file" value="" name="photo" id="photo"
                   placeholder="Додайте ваше фото" />
            <span class="help-block">{{ errors.photo }}</span>
        </div>
    </div>
    <div class="form-group {% if errors.ticket %}has-error{% endif %}">
        <label for="ticket" class="control-label col-sm-2">Білет*</label>
        <div class="col-sm-10">
            <input type="text" value="{{ request.POST.ticket }}" name="ticket" id="ticket"
                   placeholder="Введіть номер білета"
                   class="form-control"
            />
            <span class="help-block">{{ errors.ticket }}</span>
        </div>
    </div>
    <div class="form-group {% if errors.student_group %}has-error{% endif %}">
        <label for="select_group" class="control-label col-sm-2">Група*</label>
        <div class="col-sm-10">
            <select name="student_group" id="select_group"
                   class="form-control">
                <option value="">Виберіть групу</option>
                {% for group in groups %}
                <option value="{{ group.id }}" {% if group.id == request.POST.student_group|add:0 %}selected="1"{% endif %}>{{group.title}}</option>
                {% endfor %}
            </select>
            <span class="help-block">{{ errors.student_group }}</span>
        </div>
    </div>
    <div class="form-group">
        <label for="notes" class="control-label col-sm-2">Додаткові нотатки</label>
        <div class="col-sm-10">
            <textarea name="notes" id="notes" class="form-control" >{{ request.POST.notes }}</textarea>
            <span class=”help-block”>{{ errors.notes }}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input type="submit" value="Додати" name="add_button" class="btn btn-primary" />
            <button type="submit" name="cancel_button" class="btn btn-link">Скасувати</button>
        </div>
    </div>
</form>

{% endblock content %}