{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}{% trans "Admin Contact Form" %}{% endblock meta_title %}

{% block title %}{% trans "Admin Contact Form" %}{% endblock title %}

{% block status_message %}
{% if form.errors %}
  <div class="alert alert-warning" role="alert">
    {% trans "Please, correct the following errors." %}
  </div>
{% endif %}

{{ block.super }}
{% endblock %}

{% block content %}

<form action="{{ form.form_action }}" method="{{ form.form_method }}"
      class="form-horizontal" novalidate>

{% crispy form %}

</form>

{% endblock content %}